:root {
 --black-color: #212121;
--grey-color: #757575;
--white-color:#FFFFFF;
--blue-color:#2196F3;
}
    
body {
font-family: Roboto, sans-serif;
font-style: normal;
}
    
button {
font-family: inherit;}

.conteiner {
margin-left:auto;
margin-right:auto;
padding-left:15px;
padding-right:15px;
width:1200px;
margin-top:0px;
}

.link {
margin:0px;
padding:0px;
display:flex;
list-style: none;
}

                        /*HEADER*/  

/*HEADER / FOOTER LOGO*/
    
.logo {
margin-right:94px;
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
}
    
.logo-color {
color: var(--blue-color);}
    
.logo-color1 {
color:var(--black-color)}
    
.logo-color2 {
color: var(--white-color);}

/* HEADER LINKS*/

.navigation {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
text-decoration: none;
list-style:none;
border: 1px solid #ECECEC;
}
         
.navigation-link {
display:block;
padding-top: 32px;
padding-bottom: 32px;

color:var(--black-color);
text-decoration: none;
}

.navigation-link2 {
color: var(--grey-color);
text-decoration: none;
}

.navigation-link:hover,
.navigation-link:focus,
.navigation-link2:hover,
.navigation-link2:focus {
color: var(--blue-color);}

.navigation-link:active{
color:var(--blue-color);
}

.main-header {
display:flex;
align-items:center;
}

.navigation-header {
display:flex;
align-items:center;
margin-right:331px;
}

                            /*MAIN STUDIO*/

/*SECTION-FIRST*/

.section-first {
text-align:center;
padding-top:200px;
padding-bottom:200px;
margin-bottom:94px;
background-color: #2F303A;
}

.title {
min-width:696px;
text-align:center;
}
    
.title h1 {
margin-bottom: 30px;
margin-top:0px;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
color: var(--white-color);
text-transform:uppercase;
}
    
.first-letter {
text-transform: uppercase;
}
    
    
.button {
border-radius: 4px;
padding:10px 32px;
display:inline-block;
min-width:200px;
text-align:center;
border:1px solid transparent;
    
font-weight: 700;
font-size: 16px;
line-height: 1.88;
color: var(--white-color);
background-color: var(--blue-color);
}

/*SECTION-SECOND*/
.section-second {
background-color: var(--white-color);
margin-left:auto;
margin-right:auto;
margin-top:0px;
margin-bottom:94px;
}
    
.link-section-second:not(:last-child){
margin-right:30px;
}
    
.link .link-navigation-link:not(:last-child){
margin-right:50px;
}

.navigation-link2 {
display:block;
padding-top: 32px;
padding-bottom: 32px;
}

.link .link-navigation-link2:not(:last-child){
margin-right:50px;
}

.title-name {
margin-top:0px;
margin-bottom:10px;

font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color: var(--black-color);
list-style: none;
}

.link1 {
margin-top:0px;
margin-bottom:0px;
min-width:270px;
min-height:75px;

font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: var(--grey-color);
list-style: none;
}

/*SECTION-HEADER*/
.link-img:not(:last-child){
margin-right:30px;
margin-bottom:0px;}

.link-img {
height:294px;}

.section-header {
margin-top:0px;
margin-left:auto;
margin-right:auto;
margin-bottom:50px;
font-weight: bold;
font-size: 36px;
line-height: 1.17;
text-align: center;
color:var(--black-color);
}

.section-header1 {
padding-bottom:94px;
}


/*НАША КОМАНДА*/

.section-third {
background-color: #F5F4FA;
padding-top:94px;
padding-bottom:94px;}


.cards {
width:270px;
height:368px;
background-color: var(--white-color);
text-align:center;
border-radius: 0px 0px 4px 4px; 
}

.cards:not(:last-child){
margin-right:30px;
}

.img {
margin-bottom:30px;
}

.section-header-name {
margin-top:0px;
margin-bottom:10px;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
color: var(--black-color);
 }

.section-header-name2 {
margin-top:0px;
margin-bottom:0px;
padding-bottom:30px;
font-weight: 400;
font-size: 16px;
line-height: 1.19;
color: var(--grey-color);
}

.section-header img {
margin-bottom:30px;
}
                        /*MAIN STUDIO*/

                        /*MAIN PORTFOLIO*/
                              
.main-navigation {
padding-top: 94px;
padding-bottom:94px;
}
                        /*BUTTON SECTION*/

.button-section {
margin-bottom:50px;
justify-content:center;
}

.button-portfolio {
border-radius: 4px;
border:1px solid transparent;
text-align:center;
display:inline-block;
padding:6px 32px;

font-weight: 500;
font-size: 16px;
line-height: 1.63;
color: var(--black-color);
background-color: #F5F4FA;
text-decoration: none;
}

.button-portfolio1:not(:last-child){
padding-right:8px;
}


.button-portfolio:hover,
.button-porfolio:focus,
.button-porfolio:active{
color:var(--white-color);
background-color: var(--blue-color);
}
      

                       /*CARDS NAVIGATION*/

.cards-portfolio {
flex-wrap:wrap;
}

.cards2 {
width: 370px;
background: var(--white-color);
margin-bottom:30px;
margin-right:30px;
}

.cards2:nth-child(3n) {
margin-right:0;
}

.cards2:nth-last-child(-n+3) {
margin-bottom:0px;
}

.cards2-img {
display: block;
}

.cards2-text {
padding-left:24px;
padding-right:24px;
padding-bottom:20px;
padding-top:20px;
border: 1px solid #ECECEC;
}

.cards2-text h3{
margin-top:0px;
margin-bottom:4px;
}

.cards2-text p {
margin-top:0px;
margin-bottom:0px;
}


/*.cards-portfolio p {
padding-bottom:20px;
margin-top:0px;
}*/

.main-navigation h3 {
font-weight: 700;
font-size: 18px;
line-height: 2.00;
color: var(--black-color);
}
                            
.main-navigation p {
font-weight: 400;
font-size: 16px;
line-height: 1.88;
color: var(--grey-color);
}
                   
.link, .navigation-footer {
list-style: none;
}

/*.cards-portfolio h3,
.cards-portfolio p {
padding-left:24px;
}*/
                           
                          /*FOOTER*/

.footer {
background-color:#2F303A;
padding-top:60px;
padding-bottom:60px;
}
    
.navigation-footer {
margin:0px;
padding-left:0px;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
font-style: normal;.
text-decoration: none;
}
 
.navigation-footer {
list-style: none;
}

.logo-color .logo-color2{
text-decoration: none;
}

.logo-footer1 {
margin-right:0px;
margin-bottom:20px;
padding-top:0px;
padding-bottom:0px;
display:inline-block;
}

.navigation-footer1 {
color: var(--white-color);
text-decoration: none;
}
    
.navigation-link3 {
color:rgba(255, 255, 255, 0.6);
text-decoration: none;
}

.navigation-footer-adress {
margin-top:0px;}

.navigation-footer-adress:not(:last-child){
margin-bottom: 9px;
}

.logo-footer1 .logo {
margin-right:0px;
}